<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dynamicoption>
            <basic>
                <enable>1</enable>
                <welcome_note>Hello World</welcome_note>
            </basic>
        </dynamicoption>
    </default>
</config>